@page
@model Tree.Pages.UpdateModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <form method="post" enctype="multipart/form-data">
        <label class="control-label p-2">فایل Json<span class="text-danger">*</span></label>
        <input asp-for="File" type="file" class="form-control" >
        <span class="text-danger"></span>
        <input type="submit" value="ارسال" class="m-2"/>

    </form>
</div>

@section Scripts
{

}