@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model string
@{
}
<div id="jstree" class="p-1 m-2">
</div>

<form method="post" class="p-2 m-1">

    <input type="hidden" name="selectedItems" id="selectedItems" />
    @* <input type="submit" value="حذف" asp-page-handler="Delete" /> *@
    @* <input type="button" onclick="addFunc()" value="افزودن" /> *@
    @* <input type="submit" value="submit" asp-page-handler="Submit" /> *@
</form>

